.crypto-rates {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.crypto-rates div {
  padding: 0 5px;
}

.crypto-rates .input-group {
  flex-grow: 1;
}

.crypto-rates select {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  direction: rtl;
  color: #481F80;
  font-size: 21px;
}

.crypto-rates select,
.crypto-rates input {
  height: 82px;
  border-color: #481F80;
}

.crypto-rates select:focus,
.crypto-rates input:focus {
  border-color: #481F80;
}

.crypto-rates input {
  border-right: 0;
  font-size: 45px;
}

.crypto-rates .eq {
  text-align: center;
  font-size: 35px;
  line-height: 35px;
  width: 30px !important;
  margin: 0 auto;
}
