.block-two-columns {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
}

.block-two-columns p {
  margin-bottom: 38px;
}

.block-two-columns div {
  width: 50%;
}

.block-two-columns div:nth-child(2n+1) {
  padding-right: 15px;
}

.block-two-columns div:nth-child(2n) {
  padding-left: 15px;
}

@media (max-width: 770px) {
  .block-two-columns {
    margin-bottom: -10px;
  }

  .block-two-columns p {
    margin-bottom: 16px;
  }

  .block-two-columns div {
    width: 100%;
  }

  .block-two-columns div:nth-child(2n+1) {
    padding-right: 0;
  }

  .block-two-columns div:nth-child(2n) {
    padding-left: 0;
  }
}
