.feedbackForm-form {
  margin: 0 -20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.feedbackForm-input {
  margin-bottom: 16px;
}

.feedbackForm-row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.feedbackForm-control {
  border: none;
  outline: none;
  padding: 0;
}

.feedbackForm-textarea {
  resize: none;
  border-bottom: 1px solid #cccccc;
  border-radius: 0;
  padding-bottom: 10px;
}

.feedbackForm-textarea:focus {
  border-color: #cccccc;
}

.feedbackForm-title {
  font-weight: bold;
  margin-bottom: 16px;
}

.feedbackForm-button {
  cursor: pointer;
  border: 1px solid rgba(0,0,0,.15);
  border: none;
}

.feedbackForm-button:disabled {
  cursor: default;
}

.feedbackForm-button:focus {
  box-shadow: none;
}

.feedbackForm-button:active {
  color: #28C677;
}

@media (max-width: 970px) {
  .feedbackForm-container {
    display: flex;
    flex-direction: column;
  }

  .feedbackForm-form {
    align-self: center;
    max-width: 600px;
    width: 100%;
  }

  .feedbackForm-title {
    align-self: center;
  }
}
