h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

a, a:hover {
  color: #007bff;
}

.bg-code {
  background: url('./img/code-bg.jpg');
  background-size: 160%;
}

.bg-code-light {
  background: url('./img/code-bg-light.jpg');
  background-size: 160%;
}

.content {
  font-size: 20px;
  padding: 1px 0;
}

.content ul li {
  list-style-type: none;
  padding-left: 1rem;
}

.content ul li:before {
  content: "* ";
}

.content ul li + li {
  margin-top: .8rem;
}

.content p + h1,
.content p + h2,
.content form + h2,
.content p + h3 {
  margin-top: 2rem;
}

.emph {
  background: #fff;
  padding: 1rem;
  border: #000 3px solid;
  border-radius: 0.5rem;
  margin: 2rem 0;
  color: #000;
}

.emph p:last-child {
  margin: 0;
}

.btn {
  cursor: pointer;
}
