.page-nav {
  padding-top: 60px;
  list-style-type: none;
  text-align: right;
  margin-right: -22px;
  font-size: 12px;
}

.page-nav li {
  margin-bottom: 30px;
  line-height: 16px;
}

.page-nav li::before {
  content: none;
}

.page-nav a {
  color: #000;
  text-decoration: none;
}

.page-nav li.active a {
  font-weight: bold;
}
