.capabilities {
  background: #fff;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.03);
  margin: 0 -20px;
  border-radius: 9px;
  padding: 42px 20px;
}

.capabilities h2 {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 45px;
}

.capabilities .elements {
  max-width: 670px;
  column-count: 2;
  column-gap: 30px;
  margin: 0 auto;
}

.capabilities .elements .item {
  margin-bottom: 45px;
}

.capabilities .elements .item img {
  margin-bottom: 6px;
}

@media (max-width: 1400px) {
  .capabilities {
    margin: 0 -50px;
  }

  .capabilities h2 {
    font-size: 40px;
  }

  .capabilities .elements {
    max-width: 520px;
  }
}
