.cl-footer {
  background: #481F80;
}

.footer {
  margin-top: 80px;
  color: #fff;
  font-size: 16px;
  background: #481F80;
}

.footer a {
  color: white;
}

.footer a.decorated::before {
  content: '>';
  width: 20px;
  height: 20px;
  margin-left: -17px;
  display: inline-block;
  position: absolute;
}

.footer-links {
  display: flex;
  width: 100%;
}

.footer-links div:nth-child(1) {
  flex-grow: 1;
}

.footer-links div:nth-child(2) {
  flex-grow: 3;
}

.footer-social {
  display: flex;
}

.footer-social div {
  padding-left: 50px;
}

.last-line {
  display: flex;
  margin: 40px 0 100px;
  align-items: center;
}

.last-line div:nth-child(2) {
  flex-grow: 1;
  text-align: right;
}

@media (max-width: 970px) {
  .footer {
    flex-wrap: wrap;
  }
}
