div.container-content {
  display: flex;
}

div.content-left {
  width: 20%;
  padding-left: 37px;
}

div.content-mid {
  width: 60%;
}

div.content-right {
  width: 20%;
  padding-right: 37px;
}

@media (max-width: 970px) {
  div.container-content {
    display: flex;
  }

  div.content-left {
    display: none;
  }

  div.content-mid {
    width: 100%;
    padding: 0 20px;
  }

  div.content-right {
    display: none;
  }
}
