.container-header {
  display: flex;
  background: #481F80;
}

.header-left {
  width: 20%;
  padding-left: 37px;
}

.header-left img {
  width: 145px;
  height: 27px;
  margin-top: 21px;
}

.header-mid {
  width: 60%;
}

.header-right {
  width: 20%;
  padding-right: 37px;
}

@media (max-width: 970px) {
  .container-header {
    flex-wrap: wrap;
  }

  .header-left {
    padding-left: 20px;
  }

  .header-mid {
    order: 10;
    width: 100%;
  }

  .header-right {
    width: 80%;
    padding-right: 20px;
  }

}
