.crypto-rates {
  margin-top: 2rem;
}

.crypto-rates div {
  padding: 0 5px;
}

.crypto-rates select, .crypto-rates input {
  width: 100% !important;
}

.crypto-rates .eq {
  text-align: center;
  font-size: 35px;
  line-height: 35px;
  width: 30px !important;
  margin: 0 auto;
}
