.block-job h3 {
  margin-bottom: 20px;
}

.block-job ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

.block-job li {
  padding-bottom: 10px;
}

@media (max-width: 770px) {
  .block-job h3 {
    margin-bottom: 10px;
  }
}
