.block-with-icon {
  display: flex;
}

.block-with-icon .icon {
  min-width: 200px;
  margin: 0 35px;
  text-align: center;
}

.block-with-icon .icon p {
  margin-top: 15px;
  font-size: 15px;
}

@media (max-width: 1400px) {
  .block-with-icon .icon p {
    font-size: 12px;
  }
}
