.header-navigation {
  display: flex;
  justify-content: center;
  height: 68px;
  overflow-x: auto;
}

.header-navigation div {
  padding: 0 17px;
  white-space: nowrap;
}

.header-navigation div.active {
  border-bottom: 3px solid #28C677;
}

.header-navigation a, .header-navigation div {
  color: #fff;
  line-height: 68px;
  font-size: 18px;
  text-decoration: none;
}

@media (max-width: 1400px) {
  .header-navigation a, .header-navigation div {
    font-size: 16px;
  }
}

@media (max-width: 1150px) {
  .header-navigation {
    justify-content: flex-start;
    padding: 0 20px;
    height: auto;
    margin-top: 15px;
    margin-left: -13px;
  }

  .header-navigation a, .header-navigation div {
    line-height: inherit;
    font-size: 14px;
  }

  .header-navigation div {
    padding: 0 13px 12px;
  }
}
