body {
  margin: 0;
  padding: 0;
  font-family: 'PT Mono', monospace, sans-serif;
  background: #fafafa;
}

.container-fluid {
  padding: 0;
}

h2 {
  font-size: 45px;
  font-weight: bold;
  margin: 0 0 14px -2px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

p img {
  width: 100%;
}

a {
  color: #491982;
  text-decoration: underline;
  text-decoration-color: #C9BFD5;
}

a:hover {
  color: #28C677;
}

a.link-button {
  display: inline-block;
  min-height: 43px;
  font-size: 17px;
  color: #fff !important;
  background-color: #481F80;
  border-radius: 8px;
  padding: 9px 20px;
  text-decoration: none;
}

a.link-button:hover {
  background-color: #28C677;
}

.angle-bullet::before {
  content: '> ';
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

li {
  padding-bottom: 28px;
}

li::before {
  content: "* "
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

h4::after {
  display: block;
  color: #bbb;
  font-weight: normal;
  line-height: 10px;
  content: "================================================================================================================";
  overflow-x: hidden;
  margin-bottom: 14px;
}

@media (max-width: 1400px) {
  h2 {
    font-size: 40px;
  }

  p {
    font-size: 15px;
  }

  ul {
    font-size: 15px;
  }

  h4 {
    font-size: 15px;
  }
}

@media (max-width: 770px) {
  h2 {
    font-size: 28px;
    margin: 0 0 10px -1px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 13px;
    line-height: 20px;
  }

  ul {
    font-size: 13px;
    line-height: 20px;
  }

  h4 {
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 10px;
  }

  h4::before {
    content: "============== ";
    overflow-x: hidden;
  }

  h4::after {
    display: inline;
    color: #000;
    line-height: inherit;
    content: " ==============";
    overflow-x: hidden;
    margin-bottom: 0;
  }
}
