body {
  margin: 0;
  padding: 0;
  font-family: 'PT Mono', monospace, sans-serif;
  background: #fafafa;
}

a {
  color: #491982;
  text-decoration: underline;
  text-decoration-color: #C9BFD5;
}

a:hover {
  color: #28C677;
}

.angle-bullet::before {
  content: '> ';
}
